aniso8601==8.0.0
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pytz==2020.1
six==1.15.0
Werkzeug==1.0.1
redis==3.5.3
flask_sqlalchemy==2.4.4
flask_bcrypt==0.7.1
marshmallow==3.8.0
jwt==1.0.0
python-dotenv==0.14.0
flask-jwt-extended==3.24.1
gunicorn~=19.9.0
dynaconf~=2.1.0
flask-rest-api~=0.16.1
cryptography==2.2.2
psycopg2-binary==2.8.6